<div class="bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold border-bottom"><img src="/images/backgrounds/logo-transparent-red.png" alt="logo" width="160px"></div>
  <div class="list-group list-group-flush my-3 sidebar-list">
      <a href="/kartezy/admin" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="dashboard1"><i class="bi bi-speedometer2 me-2"></i>Dashboard</a>
      <a href="/kartezy/admin/Report" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="Report1"><i class="bi bi-box2 me-2"></i>Report</a>
      <a href="/kartezy/admin/rolepermission/modifypermission" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="modifypermission1"><i class="bi bi-shield-lock me-2"></i>Role</a>
      <a href="/kartezy/admin/Categories" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="Categories1"><i class="bi bi-box2 me-2"></i>Category</a>
      <a href="/kartezy/admin/logistics" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="assignOrders1"><i class="bi bi-truck me-2"></i></i>Logistics</a>
      <a href="/kartezy/admin/query" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="query1"><i class="bi bi-question-diamond me-2"></i>Questions</a>
      <a href="/kartezy/admin/calendar" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="calendar1"><i class="bi bi-calendar3 me-2"></i>Calendar</a>
      <a href="/kartezy/logout" class="list-group-item list-group-item-action bg-transparent second-text fs-5" id="logout1"><i class="bi bi-box2 me-2"></i>Logout</a>
  </div>
</div>